Repository poisontr33s/Restructure-MCP-Orchestration, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:core, area:cli, area:servers, area:shared, area:docs, area:ci

.github/labeler.yml:

area:frontend:
  - "packages/monitor/**"
area:core:
  - "packages/core/**"
area:cli:
  - "packages/cli/**"
area:servers:
  - "packages/servers/**"
area:shared:
  - "packages/shared/**"
area:docs:
  - "docs/**"
  - "**/*.md"
area:ci:
  - ".github/workflows/**"

🌑 Autonomous operation 20 - Shadowheart & Orackla Engine active
  agent/elder-pocket-plane-heritage-guardian.ts
  agent/final-celebration.js
  autonomous-sleep-log.json
  sessions/autonomous-1756177788795.json
  sessions/autonomous-1756177827266.json
  sessions/autonomous-1756177983720.json
  sessions/autonomous-1756178099048.json
Labels: none

🌑🔥 feat: Elder Pocket Plane Heritage Guardian - Complete autonomous operation
  ELDER-POCKET-PLANE-HERITAGE-MANIFEST.json
  agent/autonomous-sleep-mode.ts
  agent/bidirectional-intelligence-logger.ts
  agent/elder-pocket-plane-heritage-guardian.ts
  agent/test-autonomous-operation.ts
  autonomous-sleep-log.json
  docs/session-log/session.jsonl
  heritage-metrics.json
  index.html
Labels: area:docs

🌐 fix: Complete live monitoring interface with remote access optimization
  index.html
Labels: none

📋 feat: Comprehensive autonomous operation status report
  AUTONOMOUS-OPERATION-STATUS.md
Labels: area:docs

🤖 feat: Advanced autonomous task management - prevents stopping prompts
  AUTONOMOUS-OPERATION-STATUS.md
  agent/autonomous-launcher.ts
  agent/elder-pocket-plane-heritage-guardian.ts
  index.html
  locustfile.py
Labels: area:docs

Regarding the interference of the lcode runners… Fixes #46
  agent/ELDER-POCKET-PLANE-HERITAGE-MANIFEST.json
  agent/autonomous-task-log.txt
  agent/heritage-metrics.json
  agent/index.html
Labels: none

🤖 Auto-save: 2025-08-26 06:39:02
  .otherhalf-integrationWin11app/OH-Session1Sylvie.md
  .vscode/tasks.json
  agent/autonomous-launcher.ts
  agent/continuous-session-guardian.ts
  agent/no-prompt-auto-save.ts
  docs/session-log/session.jsonl
  locustfile.py
  quick-autonomous.ps1
  start-autonomous-sleep.ps1
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:39:37
  docs/session-log/session.jsonl
  quick-autonomous.ps1
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:46:31
  check-autonomous-status.ps1
  docs/session-log/session.jsonl
  package.json
  packages/cli/src/commands/autonomous.ts
  packages/cli/src/index.ts
  packages/monitor/postcss.config.js
  packages/monitor/src/components/StatusCard.tsx
  packages/monitor/src/index.css
Labels: area:frontend, area:cli, area:docs

🤖 Auto-save: 2025-08-26 06:47:06
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:47:41
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:48:16
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:48:51
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:49:26
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:50:00
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:50:35
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:51:10
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:51:46
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:52:21
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:52:55
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:53:29
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:54:04
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:54:38
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:55:12
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:55:47
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:56:21
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:56:57
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:57:31
  agent/bidirectional-intelligence-bridge.ts
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:58:06
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:58:40
  agent/live-collaborative-bridge.ps1
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:59:15
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 06:59:49
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 07:00:15
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 07:00:24
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 07:00:50
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 07:00:59
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 07:01:24
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 07:01:34
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 07:01:59
  docs/session-log/session.jsonl
Labels: area:docs

🤖 Auto-save: 2025-08-26 07:02:08
  docs/session-log/session.jsonl
Labels: area:docs
