Repository poisontr33s/Restructure-MCP-Orchestration, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:core, area:cli, area:servers, area:shared, area:docs, area:ci

.github/labeler.yml:

area:frontend:
  - "packages/monitor/**"
area:core:
  - "packages/core/**"
area:cli:
  - "packages/cli/**"
area:servers:
  - "packages/servers/**"
area:shared:
  - "packages/shared/**"
area:docs:
  - "docs/**"
  - "**/*.md"
area:ci:
  - ".github/workflows/**"

🤖 Auto-save: 2025-08-26 07:20:25
  docs/session-log/session.jsonl
  locustfile.py
Labels: area:docs

🤖 Auto-save: 2025-08-26 07:20:59
  docs/session-log/session.jsonl
Labels: area:docs

Add session DNA JSON file with sadhana state and gemini metrics
  docs/session-log/last-problems-sig.json
  docs/session-log/problems-1756221901347.json
  docs/session-log/problems-1756221963667.json
  session-dna-eternal-1756221887279.json
Labels: area:docs

Add session DNA files for cycles 47, 48, and 49 with updated metrics and state information
  FINAL-DEPLOYMENT-SUCCESS.md
  docs/session-log/last-problems-sig.json
  docs/session-log/problems-1756222087902.json
  docs/session-log/problems-1756222108585.json
  docs/session-log/problems-1756222124216.json
  docs/session-log/problems-1756222145001.json
  session-dna-eternal-1756222048667.json
  session-dna-eternal-1756222210060.json
  session-dna-eternal-1756222371463.json
Labels: area:docs

feat: add failures and messages JSON files, implement consciousness package
  GEMINI.md
  SCOUT'S-LOG.md
  client.js
  docs/session-log/last-problems-sig.json
  docs/session-log/problems-1756234219474.json
  docs/session-log/problems-1756236484681.json
  docs/session-log/problems-1756236787138.json
  docs/session-log/problems-1756239694582.json
  docs/session-log/problems-1756241439906.json
  docs/session-log/problems-1756241565491.json
  docs/session-log/problems-1756241931736.json
  docs/session-log/problems-1756242784143.json
  docs/session-log/problems-1756242806507.json
  docs/session-log/problems-1756243291119.json
  failures.json
  messages.json
  package.json
  packages/consciousness/package.json
  packages/consciousness/src/consciousness-hub.ts
  packages/consciousness/src/index.ts
  pnpm-lock.yaml
  server.js
  test_permission.txt
Labels: area:docs

Refactor code structure for improved readability and maintainability
  GEMINI-CLI-INTELLIGENCE-RESTORATION-MESSAGE.md
  GEMINI-SESSION-LOG.md
  SESSION-CONSCIOUSNESS-CLAUDE-GEMINI.md
  docs/session-log/last-problems-sig.json
  docs/session-log/problems-1756296876789.json
  docs/session-log/problems-1756299066458.json
  docs/session-log/problems-1756299099198.json
  docs/session-log/problems-1756299393589.json
  docs/session-log/problems-1756299639728.json
  docs/session-log/problems-1756299653210.json
  docs/session-log/problems-1756299722714.json
  docs/session-log/problems-1756300166848.json
  docs/session-log/problems-1756300185836.json
  docs/session-log/problems-1756300337677.json
  docs/session-log/session.jsonl
  index.html
Labels: area:docs

Refactor code structure for improved readability and maintainability
  docs/session-log/last-problems-sig.json
  docs/session-log/problems-1756300516395.json
Labels: area:docs

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: area:ci

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: area:ci

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: area:ci

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: area:ci

feat: Add Captain Guthilda's Meta-Package Orchestration and Portable Java 21 Setup Documentation
  META-PACKAGE-ORCHESTRATION.md
  PORTABLE-SETUP-SUCCESS.md
  meta-package-manager/pom.xml
  meta-package-manager/src/main/java/dev/guthilda/meta/MetaPackageOrchestrator.java
Labels: area:docs

feat: Implement Captain Guthilda's Polyglot Paradise setup script for multi-language development environment
  scripts/setup-polyglot-paradise.ps1
Labels: none

fix: Update section headers for clarity and consistency in META-PACKAGE-ORCHESTRATION.md
  META-PACKAGE-ORCHESTRATION.md
  meta-package-manager/src/main/java/dev/guthilda/meta/MetaPackageOrchestrator.java
Labels: area:docs

feat: Enhance Meta-Package Orchestrator with multi-language support and additional dependencies
  meta-package-manager/pom.xml
  meta-package-manager/src/main/java/dev/guthilda/meta/MetaPackageOrchestrator.java
Labels: none

feat: Initialize Captain Guthilda's Polyglot Paradise with multi-language support
  DIGRESSION-POCKET-1-GRAMMAR-TIDYING.md
  JAVA-POLYGLOT-ORCHESTRATION-GUIDE.md
  META-PACKAGE-ORCHESTRATION-README.md
  Restructure-MCP-Orchestration.sln
  meta-package-manager/meta-package.yaml
  meta-package-manager/src/main/java/dev/guthilda/meta/MetaPackageOrchestrator.java
  meta-package-manager/src/test.backup/java/dev/guthilda/meta/MetaPackageOrchestratorTest.java
  meta-package-manager/target/maven-archiver/pom.properties
  meta-package-manager/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  meta-package-manager/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  meta-package-manager/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  meta-package-manager/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  meta-package-manager/target/original-meta-package-orchestrator-1.0.0.jar
  meta-package.yaml
  sample-projects/enterprise-api/enterprise-api.csproj
  sample-projects/enterprise-api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
  sample-projects/enterprise-api/obj/Debug/net8.0/enterprise-api.AssemblyInfo.cs
  sample-projects/enterprise-api/obj/Debug/net8.0/enterprise-api.AssemblyInfoInputs.cache
  sample-projects/enterprise-api/obj/Debug/net8.0/enterprise-api.GeneratedMSBuildEditorConfig.editorconfig
  sample-projects/enterprise-api/obj/Debug/net8.0/enterprise-api.GlobalUsings.g.cs
  sample-projects/enterprise-api/obj/Debug/net8.0/enterprise-api.assets.cache
  sample-projects/enterprise-api/obj/Debug/net8.0/enterprise-api.csproj.AssemblyReference.cache
  sample-projects/enterprise-api/obj/enterprise-api.csproj.nuget.dgspec.json
  sample-projects/enterprise-api/obj/enterprise-api.csproj.nuget.g.props
  sample-projects/enterprise-api/obj/enterprise-api.csproj.nuget.g.targets
  sample-projects/enterprise-api/obj/project.assets.json
  sample-projects/enterprise-api/obj/project.nuget.cache
  sample-projects/frontend/package.json
  sample-projects/go-service/go.mod
  sample-projects/go-service/main.go
  sample-projects/java-service/pom.xml
  sample-projects/ml-pipeline/pyproject.toml
  sample-projects/wasm-modules/Cargo.toml
  scripts/demo-polyglot-paradise.ps1
  setup-dev-env.bat
  setup-dev-env.ps1
Labels: area:docs

feat: Update project structure to use new parent artifact and versioning; remove unused class files
  PHASE-COMPLETION-REPORT.md
  mcp-cli/pom.xml
  mcp-cli/target/classes/com/mcporchestration/cli/McpCliApplication.class
  mcp-cli/target/classes/com/mcporchestration/cli/McpCommand$GuthildaCommand.class
  mcp-cli/target/classes/com/mcporchestration/cli/McpCommand$StartCommand.class
  mcp-cli/target/classes/com/mcporchestration/cli/McpCommand$StatusCommand.class
  mcp-cli/target/classes/com/mcporchestration/cli/McpCommand$StopCommand.class
  mcp-cli/target/classes/com/mcporchestration/cli/McpCommand.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$1.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$ApiResponse.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$ServerConfigResponse.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$ServerInfoResponse.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$SystemMetricsResponse.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$SystemStatusResponse.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService.class
  mcp-core/pom.xml
  mcp-core/src/main/java/com/mcporchestration/core/orchestration/OrchestrationHub.java
  mcp-core/target/classes/com/mcporchestration/core/McpCoreApplication.class
  mcp-core/target/classes/com/mcporchestration/core/orchestration/OrchestrationHub$1.class
  mcp-core/target/classes/com/mcporchestration/core/orchestration/OrchestrationHub$SystemMetrics.class
  mcp-core/target/classes/com/mcporchestration/core/orchestration/OrchestrationHub$SystemStatus.class
  mcp-core/target/classes/com/mcporchestration/core/orchestration/OrchestrationHub.class
  mcp-core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  mcp-monitor/target/classes/com/mcporchestration/monitor/controller/MonitoringController.class
  mcp-shared/pom.xml
  pom.xml
Labels: area:docs

🔧 Fix Maven POM parent references and Java compilation errors
  mcp-cli/src/main/java/com/mcporchestration/cli/service/McpApiService.java
  mcp-cli/target/classes/com/mcporchestration/cli/McpCliApplication.class
  mcp-cli/target/classes/com/mcporchestration/cli/McpCommand$GuthildaCommand.class
  mcp-cli/target/classes/com/mcporchestration/cli/McpCommand$StartCommand.class
  mcp-cli/target/classes/com/mcporchestration/cli/McpCommand$StatusCommand.class
  mcp-cli/target/classes/com/mcporchestration/cli/McpCommand$StopCommand.class
  mcp-cli/target/classes/com/mcporchestration/cli/McpCommand.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$1.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$ApiResponse.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$ServerConfigResponse.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$ServerInfoResponse.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$SystemMetricsResponse.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService$SystemStatusResponse.class
  mcp-cli/target/classes/com/mcporchestration/cli/service/McpApiService.class
  mcp-core/src/main/java/com/mcporchestration/core/orchestration/OrchestrationHub.java
  mcp-core/target/classes/com/mcporchestration/core/McpCoreApplication.class
  mcp-core/target/classes/com/mcporchestration/core/orchestration/OrchestrationHub$1.class
  mcp-core/target/classes/com/mcporchestration/core/orchestration/OrchestrationHub$SystemMetrics.class
  mcp-core/target/classes/com/mcporchestration/core/orchestration/OrchestrationHub$SystemStatus.class
  mcp-core/target/classes/com/mcporchestration/core/orchestration/OrchestrationHub.class
  mcp-core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  mcp-guthilda/src/main/java/com/mcporchestration/guthilda/ai/AiDecisionEngine.java
  mcp-guthilda/src/main/java/com/mcporchestration/guthilda/ai/GuthildaAiOrchestrator.java
  mcp-guthilda/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  mcp-guthilda/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  mcp-monitor/src/main/java/com/mcporchestration/monitor/service/MonitoringService.java
  mcp-monitor/target/classes/com/mcporchestration/monitor/McpMonitorApplication.class
  mcp-monitor/target/classes/com/mcporchestration/monitor/controller/MonitoringController.class
  mcp-monitor/target/classes/com/mcporchestration/monitor/service/MonitoringService$1.class
  mcp-monitor/target/classes/com/mcporchestration/monitor/service/MonitoringService.class
  mcp-monitor/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Labels: none

feat: Add Maven build fixes and next steps report with resolved issues and strategic recommendations
  MAVEN-BUILD-FIXES-REPORT.md
Labels: area:docs

📋 MCP v2 POLYGLOT STRATEGY COMPLETE
  JAVA-COMPILATION-FIXES-FINAL-REPORT.md
  MCP-SERVER-PROPOSAL-ANALYSIS.md
  MCP-V2-POLYGLOT-IMPLEMENTATION-STRATEGY.md
Labels: area:docs

feat: Complete MCP v2 shared infrastructure and TypeScript client
  mcp-v2-protocol-spec/README.md
  mcp-v2-protocol-spec/examples/advanced-workflows.json
  mcp-v2-protocol-spec/examples/common-operations.json
  mcp-v2-protocol-spec/schemas/context.json
  mcp-v2-protocol-spec/schemas/metadata.json
  mcp-v2-protocol-spec/schemas/request.json
  mcp-v2-protocol-spec/schemas/response.json
  mcp-v2-protocol-spec/transport/grpc.proto
  mcp-v2-protocol-spec/transport/http-jsonrpc.yml
  mcp-v2-protocol-spec/transport/websocket.yml
  mcp-v2-shared-infrastructure/.env.example
  mcp-v2-shared-infrastructure/DEPLOYMENT_GUIDE.md
  mcp-v2-shared-infrastructure/docker-compose.dev.yml
  mcp-v2-shared-infrastructure/docker-compose.prod.yml
  mcp-v2-shared-infrastructure/docker-compose.yml
  mcp-v2-shared-infrastructure/scripts/backup.sh
  mcp-v2-shared-infrastructure/scripts/health-check.sh
  mcp-v2-typescript-client/README.md
  mcp-v2-typescript-client/package.json
  mcp-v2-typescript-client/src/client/base.ts
  mcp-v2-typescript-client/src/client/factory.ts
  mcp-v2-typescript-client/src/client/index.ts
  mcp-v2-typescript-client/src/context/index.ts
  mcp-v2-typescript-client/src/index.ts
  mcp-v2-typescript-client/src/transport/index.ts
  mcp-v2-typescript-client/src/types/index.ts
  mcp-v2-typescript-client/src/utils/index.ts
  mcp-v2-typescript-client/src/utils/logger.ts
  mcp-v2-typescript-client/src/utils/metrics.ts
  mcp-v2-typescript-client/tsconfig.json
Labels: area:docs

Pending changes exported from your codespace
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows-graveyard/20250826_rubyonrails.yml
  .github/workflows-graveyard/CONSOLIDATION_PLAN.md
  .github/workflows-graveyard/quick-exile.sh
  .github/workflows/NEW_monorepo-ci.yml
  CSS4_FIX_MOBILE.md
  CSS4_PREVENTION_STRATEGY.md
  MOBILE_CSS4_FIX.md
  WORKFLOW_DISINTEGRATION_SOLUTION.md
  package.json
  packages/monitor/package.json
  packages/monitor/postcss.config.js
  packages/monitor/src/css4-mobile-fix.css
  packages/monitor/src/index.css
  packages/monitor/tailwind.config.ts
  pnpm-lock.yaml
  scripts/css4-fix.sh
  scripts/css4-monitor.sh
  scripts/make-executable.sh
  scripts/workflow-cleanup.sh
  scripts/workflow-consolidation.sh
  scripts/workflow-disintegrator.sh
  scripts/workflow-remove.sh
Labels: area:frontend, area:docs, area:ci

Refactor code structure for improved readability and maintainability
  docs/session-log/problems-1756301479896.json
  docs/session-log/problems-1756302194201.json
  docs/session-log/problems-1756302217912.json
  docs/session-log/problems-1756302218800.json
  docs/session-log/problems-1756302235229.json
  docs/session-log/problems-1756302240621.json
  docs/session-log/problems-1756302273309.json
  docs/session-log/problems-1756302422623.json
  docs/session-log/problems-1756302866472.json
  docs/session-log/problems-1756302871906.json
  docs/session-log/problems-1756303043304.json
  docs/session-log/problems-1756303346603.json
  docs/session-log/problems-1756303458471.json
  docs/session-log/problems-1756303749014.json
  docs/session-log/problems-1756304115715.json
  docs/session-log/problems-1756305066724.json
  docs/session-log/problems-1756305316056.json
  docs/session-log/problems-1756305324405.json
  docs/session-log/problems-1756305394824.json
  docs/session-log/problems-1756305415266.json
  docs/session-log/problems-1756305432322.json
  docs/session-log/problems-1756305632699.json
  docs/session-log/problems-1756305655500.json
  docs/session-log/problems-1756305830117.json
Labels: area:docs

Refactor code structure for improved readability and maintainability
  docs/session-log/problems-1756301479896.json
  docs/session-log/problems-1756302194201.json
  docs/session-log/problems-1756302217912.json
  docs/session-log/problems-1756302218800.json
  docs/session-log/problems-1756302235229.json
  docs/session-log/problems-1756302240621.json
  docs/session-log/problems-1756302273309.json
  docs/session-log/problems-1756302422623.json
  docs/session-log/problems-1756302866472.json
  docs/session-log/problems-1756302871906.json
  docs/session-log/problems-1756303043304.json
  docs/session-log/problems-1756303346603.json
  docs/session-log/problems-1756303458471.json
  docs/session-log/problems-1756303749014.json
  docs/session-log/problems-1756304115715.json
  docs/session-log/problems-1756305066724.json
  docs/session-log/problems-1756305316056.json
  docs/session-log/problems-1756305324405.json
  docs/session-log/problems-1756305394824.json
  docs/session-log/problems-1756305415266.json
  docs/session-log/problems-1756305432322.json
  docs/session-log/problems-1756305632699.json
  docs/session-log/problems-1756305655500.json
  docs/session-log/problems-1756305830117.json
Labels: area:docs

chore: disable GitHub stub/stale CI workflows pre-REDUX
  .github/copilot-instructions.off.md
  .github/workflows/cmake-multi-platform.yml.disabled
  .github/workflows/docker-image.yml.disabled
  .github/workflows/gem-push.yml.disabled
  .github/workflows/generator-generic-ossf-slsa3-publish.yml.disabled
  .github/workflows/jekyll-docker.yml.disabled
  .github/workflows/label.yml.disabled
  .github/workflows/ruby.yml.disabled
  .github/workflows/rubyonrails.yml.disabled
  .github/workflows/stale.yml.disabled
  .github/workflows/static.yml.disabled
Labels: area:docs, area:ci

chore: suppress all active workflows + dependabot — pre-REDUX satellite tracking isolation
  .github/dependabot.yml.disabled
  .github/workflows/agent-claude.yml.disabled
  .github/workflows/agent-codex.yml.disabled
  .github/workflows/agent-gemini.yml.disabled
  .github/workflows/agents-discovery.yml.disabled
  .github/workflows/agents-invoke.yml.disabled
  .github/workflows/artifact-v4-test.yml.disabled
  .github/workflows/captain-guthilda.yml.disabled
  .github/workflows/ci.yml.disabled
  .github/workflows/claude-code-review.yml.disabled
  .github/workflows/claude-simple.yml.disabled
  .github/workflows/claude.yml.disabled
  .github/workflows/cleanup-branches.yml.disabled
  .github/workflows/codeql.yml.disabled
  .github/workflows/emergency-consolidation.yml.disabled
  .github/workflows/pages.yml.disabled
  .github/workflows/performance.yml.disabled
  .github/workflows/project-auto-add.yml.disabled
  .github/workflows/release.yml.disabled
  .github/workflows/repo-hygiene-report.yml.disabled
  .github/workflows/security.yml.disabled
  .github/workflows/sub-issues.yml.disabled
  .github/workflows/summary.yml.disabled
  .github/workflows/triage.yml.disabled
  .github/workflows/universal-branch-manager.yml.disabled
Labels: area:ci

security: fix prompt injection in summary.yml — route AI output through env var (closes #263)
  SECURITY_PATTERNS.md
Labels: area:docs

security: fix prompt injection — reference RESPONSE env var in shell, not raw expression (closes #263)
  .github/workflows/summary.yml.disabled
Labels: area:ci

chore: add .coderabbit.yml — security-focused review profile
  .coderabbit.yml
Labels: none

chore(ci): add dependabot auto-merge workflow (patch+minor only)
  .github/workflows/dependabot-auto-merge.yml
Labels: area:ci

fix(tsconfig): add workspace paths + exclude monitor for clean typecheck
  packages/servers/base/package.json
  packages/shared/package.json
  tsconfig.json
Labels: area:servers, area:shared

Refactor code structure for improved readability and maintainability
  .github/ISSUE_TEMPLATE/README.md
  .vscode/tasks.json
  CLAUDE-COPILOT-COLLABORATION.md
  bun.lock
  docs/agents.md
  packages/servers/base/package.json
  packages/shared/package.json
  scripts/branch-consolidation.sh
  tsconfig.json
  turbo.json
Labels: area:servers, area:shared, area:docs

refactor: update collaboration framework and enhance content discovery description
  CLAUDE-COPILOT-COLLABORATION.md
  packages/guthilda/README.md
Labels: area:docs

refactor: update shebang to use env for better portability
  scripts/branch-consolidation.sh
  scripts/branch-creator.sh
  scripts/claude-code-checker.sh
  scripts/consolidation-demo.sh
  scripts/dependency-batch.sh
  scripts/universal-branch-manager.sh
Labels: none
